/* $visual-grid: true !default; */
/* @import 'reset'; */
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.readPost {
  background-color: #FCFCFC; }

.postTitle {
  font-family: "Lato", sans-serif;
  color: #2F302C; }

.postText {
  font-family: "Lato", sans-serif;
  color: #2F302C; }

body {
  font-family: "Lato", sans-serif; }

.linkText {
  font-family: "Lato", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center; }

.postTitle {
  font-weight: 300; }

.postDate {
  color: #BABABA;
  font-size: 0.8em; }

.postText {
  font-family: "Lato", sans-serif;
  color: #2F302C;
  font-size: 0.8em;
  line-height: 2em; }

.postContent h5 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  /* margin: auto auto; */ }

.postContent a {
  color: #C1001D;
  text-decoration: none; }

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; }

.content {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  /* background-color: green; */
  list-style: none; }
  .content::after {
    clear: both;
    content: "";
    display: table; }

.socialLinks {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .socialLinks:last-child {
    margin-right: 0; }

.icons {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 47.58542%; }
  .icons:last-child {
    margin-right: 0; }

.navLinks {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-left: 0; }
  .navLinks:last-child {
    margin-right: 0; }

.linkText {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: #C1001D;
  padding: 5px 15px;
  box-shadow: 0 3px 1px 2px #99AAB7; }
  .linkText:last-child {
    margin-right: 0; }

.mainImage {
  background-image: url("../images/top-image.png");
  background-position: 40% 25%;
  height: 350px;
  margin: 0 auto;
  margin-top: 5em;
  border: 12px solid #fff; }

.logo {
  position: relative;
  top: 46px;
  left: 16px; }

.viewPost {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  /* background-color: blue; */
  height: 350px;
  margin-top: 60px; }
  .viewPost:last-child {
    margin-right: 0; }

.readPost {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  box-shadow: 0 3px 1px 2px #99AAB7; }
  .readPost:last-child {
    margin-right: 0; }

.postContent {
  width: 85%;
  margin: 0 auto; }

.postContent a {
  border-left: 1px solid #C1001D;
  border-right: 1px solid #C1001D;
  padding: 0 0.8em; }

.postLink:hover a {
  color: black; }

.viewBoards {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: yellow; }
  .viewBoards:last-child {
    margin-right: 0; }
