/* $visual-grid: true !default; */
$border-box-sizing: true !default;

/* @import 'reset'; */

@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';
@import 'variables';
@import 'fonts';


body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

  .content {
    @include outer-container(1024px);
    margin: 0 auto;
    /* background-color: green; */
    list-style: none;
  }

  .socialLinks {
    @include span-columns(6);
  }

    .icons {
      @include span-columns (3 of 6);
    }

  .navLinks {
    @include span-columns(12);
    padding-left: 0;
  }

    .linkText {
      @include span-columns(3 of 12);
      background-color: $red;
      padding: 5px 15px;
      box-shadow: 0 3px 1px 2px $box-shadow;
    }

    .mainImage {
      background-image: url("../images/top-image.png");
      background-position: 40% 25%;
      height: 350px;
      margin: 0 auto;
      margin-top: 7em;;
      border: 12px solid #fff;
    }

      .logo {
        position: relative;
        top: 46px;
        left: 16px;
      }

    .viewPost {
        @include span-columns(12);
        /* background-color: blue; */
        height: 350px;
        margin-top: 60px;
      }

      .readPost {
          @include span-columns(4 of 12);
          box-shadow: 0 3px 1px 2px $box-shadow;
        }

      .postContent {
        width: 85%;
        margin: 0 auto;
      }

        .postContent a {
          border-left: 1px solid $link-color;
          border-right: 1px solid $link-color;
          padding: 0 0.8em;
        }

          .postLink:hover a {
            color: black;
          }


/*SKATEBOARDS*/


    .viewBoards {
      @include span-columns (12);
    }


    .contactPowell {
      @include span-columns (12);
      background-color: $offWhite;
      margin-top: 3em;
    }

      .contactInfo {
        @include span-columns(6 of 12);
        padding-left: 2em;
      }

      .contactForm {
        @include span-columns(6 of 12);
        margin-top: 1em;
        display: block;

      }

        .contactForm input {
          display: block;
          margin-top: 1em;
          width: 90%;
          height: 2.5em;
          border-top: 4px solid #B2B2B2;
          border-left: 4px solid #B2B2B2;
          border-bottom: 1px solid #B2B2B2;
          border-right: 1px solid #B2B2B2;
        }

        input[type=text],
        input[type=email] {
          font-family: $font-family;
          font-size: 0.8em;
          font-weight: 300;
          color: #fff;
          padding-left: 2%;
          text-transform: uppercase;
    }

        .contactForm textarea {
          display: block;
          margin: 1em 0;
          width: 90%;
          height: 10em;
          border-top: 4px solid #B2B2B2;
          border-left: 4px solid #B2B2B2;
          border-bottom: 1px solid #B2B2B2;
          border-right: 1px solid #B2B2B2;
        }

        .visitSocial {
          list-style: none;
        }
